* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.pare {
    display: grid;
}

.header {
    background: black;
  
   
}

.menu {
    background: #316B83;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.logo {
    background: #FF7878;
    
}

.nav {
    background: #FF7878;
    
}

.social {
    background: #FF7878;

}

.textprincipal {
    background: #F78812;
 
}

h1 {
    background: #FEE440;

}

.section {
    background: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
   
}

.articulos {
    background: #4B3869;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.article {
    background: #5C7AEA; 
    display: grid;
  
}

.navegacio {
    background: #A2CDCD;
    display: grid;
    grid-column: 1 / 3;
}



aside {
    background: #FF5C58;

  
}

.publicitat {
    background: #FCFFA6;
  
}


.footer {
    background: black;
  
}

.peu {
    background: #F0A500;
}

@media all and (max-width: 800px) {

    .section {
        background-color: #FEE440;
        grid-template-columns: 1fr;
    }
    

@media all and (max-width: 600px) {
       
        .articles {
            grid-template-columns: 2fr;
    }
}